.chatbar
{
    width: 68%;
    min-height: 100vh;
    position:fixed;
    left:32%;
 
   
}

.nochat
{
    background-image:linear-gradient(rgba(234, 241, 255, 0.823),rgba(234, 241, 255, 0.823)),url('../../images/myChat2.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;

}

@media(max-width:840px)
{
    .chatbar{
        left:32%;
        width: 100%;
        right:0
    }
  
  
}